<mat-card *ngIf="breed">
  <mat-card-title>{{ breed.name }}</mat-card-title>
  <mat-card-content>
    <p>{{ breed.description }}</p>
    <p><strong>Origen:</strong> {{ breed.origin }}</p>
    <p><strong>Temperamento:</strong> {{ breed.temperament }}</p>
  </mat-card-content>
</mat-card>

<div class="image-gallery" *ngIf="images.length">
  <mat-grid-list cols="3" rowHeight="200px" gutterSize="10px">
    <mat-grid-tile *ngFor="let img of images">
      <img [src]="img.url" alt="Cat image" class="breed-image" />
    </mat-grid-tile>
  </mat-grid-list>
</div>